/* NumeroAleatorio.css */

.botao-customizado {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remova a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    cursor: pointer; /* Mostrar cursor de mão quando passar o mouse */
  }
  
  .botao-customizado:hover {
    background-color: #0056b3; /* Cor de fundo quando o mouse passa por cima */
  }
  